body {
  background: lightgreen;
}

* {
  border: 1px solid darkgreen;
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  color: red;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}

header, main, aside, .content  {
  flex-grow: 1;
  margin: 0;
  max-height: 20vh;
}

main  {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 20vh;
}

div {
  width: 95%;
  flex-grow: 3;
  margin: 1em;
}


@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
    max-height: 20vh;
  }
  .content {
    justify-content: stretch;
    flex-basis: 75%;
      min-height:  80vh;
  }
  aside {
    margin: 0;
    flex-grow: 3;
    min-height:  80vh;
  }
}